/* body start */
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* body end */
/* first section start */
.firstSection {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.photo img {
  width: 330px;
}
.stayFocus {
  border-left: solid tomato;
}
.spClass {
  color: firebrick;
}
.paragraph {
  padding-right: 5px;
  padding-left: 5px;
  text-align: justify;
}
.exploreMe {
  padding-top: 15px;
}

.explore-btn button {
  padding: 7px 35px;
  border-radius: 5px;
  background-color: tomato;
}
.explore-btn button a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.explore-btn button:hover {
  background-color: firebrick;
  cursor: pointer;
}
/* first section end */

/* second section start */

.mymission {
  margin-top: 10px;
  text-align: center;
}
.mission {
  width: 320px;
  border-radius: 15px;
  background-color: rgba(71, 143, 151, 0.1);
}
.vission {
  width: 320px;
  border-radius: 15px;
  background-color: rgba(255, 89, 89, 0.1);
}
.goal {
  width: 320px;
  border-radius: 15px;
  background-color: #fff4d6;
}

.missionImg img {
  width: 50%;
}
.allDivision {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 35px;
  justify-content: space-evenly;
}
.missionContent {
  padding: 10px 15px;
}
/* second section end */
/* third section start */
.thirdSection {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.leftImage {
  margin-top: 80px;
}
.thirdSectionRight {
  margin-top: 80px;
  margin-left: 40px;
}
/* third section button */
.second-btn button {
  margin-top: 5px;
  padding: 10px 50px;
  border-radius: 5px;
  background-color: tomato;
}
.second-btn button a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.second-btn button:hover {
  background-color: firebrick;
  cursor: pointer;
}
/* Third section end */
/* four section start */
.fourSection {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.rightImage {
  margin-top: 80px;
}
.fourSectionLeft {
  margin-top: 80px;
  margin-left: 40px;
}
/* four section end */
/* Five section Start  */
.sectionFive {
  margin-top: 50px;
}
.Fivecontent {
  margin-left: 15px;
  background-image: url(./images/shapes/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.section5Content {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.section5image img {
  width: 350px;
  border-radius: 10px;
}
.header {
  text-align: center;
}

/* Five Section End */

/* footer part  start*/
footer {
  margin-top: 100px;
  background-color: black;
  border: 40px solid black;
}
.footerClass {
  text-align: center;
  color: white;
}
